* {margin: 0px; border: 0px; box-sizing: border-box;}
body {background-color: #002b49;} 
 
#contenedor {width: 95%; margin: 30px auto 30px auto;} 
header {
    background-color: #59cbe8;
    text-align: center;
    justify-content: center;
} 

header h1 {
    padding: 8px; 
    text-align: center; 
    color: #00558c;
    font-family: Futura Bold Condensed BT;
} 
header img {
    vertical-align: bottom;}


.player-container {
    background-color: #59cbe8; 
    display: flex; 
    flex-direction:column;
    width: auto;
    align-items:center;
    justify-content:center;
    padding: 20px;
}

h2{
    text-align: center;
}
.contenedor-listas{
    background-color: #59cbe8; 
    display: flex; 
    flex-direction:row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.listas {
    background-color: #9adbe8;
    display: block;
    height: 40vh;
    width: 30%;
    align-items:center;
    justify-content:center;
    margin: 10px;
}

.listas h3 {
    text-align: center;
    padding: 10px;
}

/*Codigo ajustado para navegadores y dispositivos moviles */

/* Estilos para móviles */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    .listas {
        width: 100%;
    }
}

/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header h1 {
        font-size: 2em;
    }

    .listas {
        width: 50%;
    }
}

/* Estilos para navegadores específicos */
@supports (--custom: property) {
    /* Estilos específicos para navegadores que admiten la propiedad personalizada (--custom) */
    body {
        font-family: 'CustomFont', sans-serif;
    }
}

@supports (-ms-ime-align: auto) {
    /* Estilos específicos para Internet Explorer */
    body {
        font-family: 'IEFont', sans-serif;
    }
}

/* Estilos específicos para Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    body {
        background-color:#002b49;
    }
}

/* Estilos específicos para Firefox */
@-moz-document url-prefix() {
    body {
        background-color: #002b49;
    }
}

/* Estilos específicos para Edge */
@supports (-ms-accelerator:true) {
    body {
        background-color: #002b49;
    }
}